# dependencies
node_modules

# build outputs
.next
out
dist
.turbo
coverage

# env files
.env
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# macOS
.DS_Store
.vercel
